* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

html,
body {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, #074299 0%, #001432 100%);
  color: white;
}

/* nav */
nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  padding: 0 5rem;
  position: fixed;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  opacity: 1;
  transform: translateY(30px);
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo h1 {
  font-size: 3rem;
  color: white;
}

.nav-links {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links ul {
  width: 90%;
  height: 90%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.nav-links ul .link {
  color: white;
  text-decoration: none;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  background-color: white;
  z-index: -1;
  height: 3px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

.nav-links ul li {
  font-weight: 600;
  font-size: 1.3rem;
}

.cont {
  border-radius: 15px;
  color: black;
  background-color: white;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 0.7rem 1.3rem;
}

.cont:hover {
  color: white;
  background-color: transparent;
  box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.8);
}

.contact {
  width: 100%;
  background: radial-gradient(circle at center, #074299 0%, #001432 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  padding-top: 6rem;
}
.contact-head {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.contact-head h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
.contact-section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.contact-info .info {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: -3px -3px 10px 5px rgba(0, 0, 0, 0.3),
    3px 3px 10px 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  padding: 2rem 2rem;
}
.info h1 {
  font-size: 1.9rem;
  color: orange;
  text-shadow: 0px 0px 10px black;
}
.contact-info .location {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.form-inp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0;
}
.form-inp span {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.form-inp input,
.form-inp select {
  width: 85%;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 1rem;
  caret-color: white;
  box-sizing: border-box;
}
.form-inp select {
  /* color: black; */
  caret-color: transparent;
}
.form-inp select option {
  color: black;
}
.form-inp input:focus {
  outline: none;
}
.form-inp input::placeholder {
  color: white;
}
.form-inp textarea {
  width: 80%;
  height: 100px;
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
}
.contact-form .submit-btn {
  width: 84%;
  height: 50px;
  border: 2px solid #0066ff;
  border-radius: 15px;
  font-size: 1.3rem;
  background-color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact-form .submit-btn:hover {
  background-color: #0053cf;
}
/* .contact-head {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}
.contact-head.visible {
  opacity: 1;
  transform: translateX(0);
}
.contact-info {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}
.contact-info.visible {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.2s;
}
.contact-form {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease, transform 1s ease;
}
.contact-form.visible {
  opacity: 1;
  transform: translate(0);
  transition-delay: 0.5s;
} */
